<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Demo</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/js-cookie/2.1.0/js.cookie.js"></script>

</head>
<body>
<h1>Demo</h1>
<div th:if="${mode=='manual'}" class="container unauthenticated">
    Manual (Facebook): <a href="/login/facebook">click here</a>
</div >
<div th:if="${mode=='manual'}" class="container unauthenticated">
    Manual (Github): <a href="/login/github">click here</a>
</div>
<div th:if="${mode=='basic'}" class="container unauthenticated">
    Basic Setup: <a href="/login">click here</a>
</div>
<div class="container authenticated" style="display:none">
    Logged in as: <span id="user"></span>
    <div>
        <button onClick="logout()" class="btn btn-primary">Logout</button>
    </div>
</div>
<script type="text/javascript">
     $.ajaxSetup({
         beforeSend : function(xhr, settings) {
             if (settings.type == 'POST' || settings.type == 'PUT'
                 || settings.type == 'DELETE') {
                 if (!(/^http:.*/.test(settings.url) || /^https:.*/
                     .test(settings.url))) {
                     // Only send the token to relative URLs i.e. locally.
                     xhr.setRequestHeader("X-XSRF-TOKEN",
                         Cookies.get('XSRF-TOKEN'));
                 }
             }
         }
     });

    var logout = function () {
        $.post("/logout", function () {
            $("#user").html('');
            $(".unauthenticated").show();
            $(".authenticated").hide();
        });
        return true;
    };

    $.get("/user", function(data) {
        $("#user").html(data.userAuthentication.details.name);
        $(".unauthenticated").hide();
        $(".authenticated").show();
    });
</script>
</body>
</html>